.chess-board {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.white {
    height: 100px;
    width: 100px;
    background-color: white
}

.black {
    height: 100px;
    width: 100px;
    background-color: #556B2F
}